

/* -------- Navigation -------------- */
// Refer to bootstrap/navbar.less

// Allow hovering for dropdown instead of click and also clickable
// http://stackoverflow.com/questions/19935480/bootstrap-3-how-to-make-head-of-dropdown-link-clickable-in-navbar
@media all and (min-width: @screen-md-min) {
	ul.nav li.dropdown:hover ul.dropdown-menu {
	   display: block !important; 
	}
}
/* When WP Admin bar present */
@media all and (min-width: @screen-sm-min) {
body.admin-bar .navbar-fixed-top {
	top: 32px;
}
}

@media (max-width: @screen-xs-max) {
	.text-center-xs {
		text-align: center !important;
	}

	body.admin-bar {
		margin-top: -46px;
	}
}

/** --------------- Navbar Toggle ----------- **/
.navbar-toggle {

	.icon-bar {
		width: 20px;
	    height: 2px;
	}

	width: 31px;
	height: 30px;
	background-image: url('../img/menu-x@2x.png');
	background-size: 20px 20px; background-repeat: no-repeat; background-position: center center;

	.icon-bar {
		display: none;
	}

	&.collapsed {
		background-image: none;
		.icon-bar {
		 display: block;
		}
	}
}
/** -------------./ Navbar Toggle ----------- **/

/**
 * ================== Table Layout ==================
 * 
 * Ever have to repeat display: table and display: table-cell over
 * and over again? Well, not anymore!
 * Simply assign these classes in.
 * 
 */
.layout-table {
	display: table; width: 100%;

	> .cell {
		display: table-cell;

		&.align-middle {
			vertical-align: middle;
		}
	}
}
/** -------------./ Table Layout ----------- **/