.badge {
    white-space: normal !important;
    text-align: left !important;
}

.blog-feed__posts {
    margin-left: -15px;
    margin-right: -15px;
}

.blog-feed__posts::before,
.blog-feed__posts::after {
    clear: both;
    content: "";
    display: block;
}

.blog-feed__posts__post {
    float: left;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}

.blog-feed__posts__post:nth-child(4n+1) {
    clear: left;
}

.blog-feed__posts__post__thumbnail {
    height: auto;
    max-width: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .col-xs-6 {
        width: 50% !important;
    }

    .row.custom-blog > [class*="col-"] {
        margin-bottom: 15px;
    }

    .row.custom-blog > [class*="col-"]:nth-child(2n+1) {
        clear: left;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .blog-feed__posts__post {
        width: 50%;
    }

    .blog-feed__posts__post:nth-child(2n+1) {
        clear: left !important;
    }

    .blog-feed__posts__post h3 {
        font-size: 20px;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .blog-feed__posts__post {
        clear: none !important;
        width: 33.33%;
    }

    .blog-feed__posts__post:nth-child(3n+1) {
        clear: left !important;
    }

    .blog-feed__posts__post h3 {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .blog-feed__posts__post h3 {
        font-size: 20px;
    }
}
