.racingsales-horse-gallery * {
    box-sizing: border-box;
}

.racingsales-horse-gallery__search {
    margin-bottom: 15px;
}

.racingsales-horse-gallery__search__field {
    font-size: 18px;
    padding: 15px;
    width: 100%;
}
.racingsales-horse-gallery__search__field::-webkit-input-placeholder {
    font-style: italic;
}
.racingsales-horse-gallery__search__field::-moz-placeholder {
    font-style: italic;
}
.racingsales-horse-gallery__search__field:-ms-input-placeholder {
    font-style: italic;
}
.racingsales-horse-gallery__search__field:-moz-placeholder {
    font-style: italic;
}

.racingsales-horse-gallery__categories {
    margin-bottom: 35px;
}

.racingsales-horse-gallery__categories a {
    color: #4e4e4e;
    border: 2px solid #4e4e4e;
    display: inline-block;
    font-weight: 600;
    padding: 6px 12px;
    text-decoration: none !important;
}

.racingsales-horse-gallery__categories a span {
    display: none !important;
}

.racingsales-horse-gallery__categories a:hover,
.racingsales-horse-gallery__categories a:focus {
    background-color: #4e4e4e;
    color: #fff;
}

.racingsales-horse-gallery__list {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
}

.racingsales-horse-gallery__list::after {
    content: "";
    clear: both;
    display: table;
}

.racingsales-horse-gallery__list__item {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    transition: transform 0.7s;
}

.racingsales-horse-gallery__list__item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.racingsales-horse-gallery__list__item h2 {
    font-size: 18px;
}

.racingsales-horse-gallery__list__item img {
    height: auto;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
}

.racingsales-horse-gallery__list__item {
    float: left;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33%;
}

.racingsales-horse-gallery__list__item:nth-child(3n+1) {
    clear: left;
}

.racingsales-horse-gallery__list__item__link {
    color: inherit;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
}

@media (max-width: 767px) and (orientation: portrait) {
    .racingsales-horse-gallery__list {
        margin-left: auto;
        margin-right: auto;
    }

    .racingsales-horse-gallery__list__item {
        clear: none !important;
        float: none;
        width: 100%;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    .racingsales-horse-gallery__list {
        margin-left: auto;
        margin-right: auto;
    }

    .racingsales-horse-gallery__list__item {
        clear: none !important;
        width: 50%;
    }

    .racingsales-horse-gallery__list__item:nth-child(2n+1) {
        clear: left !important;
    }
}
