/*!
 * Built on the second floor of 115-117 Chapel Street
 */

@import "/assets/vendor/bootstrap/less/bootstrap.less";
@import "core.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }


/* ==========================================================================
   Extending Bootstrap - Override bootstrap in our own files
   ========================================================================== */

   // @import "bootstrap/navbar.less";

/* ==========================================================================
   ./ Extending Bootstrap
   ========================================================================== */




/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Social Icons 
   ========================================================================== */

   ul.social-links {
      margin-left: 0px; display: inline-block; margin-bottom: 0px; padding-left: 5px;

      > li {
         display: inline-block;
      }

      > li > a {
         display: inline-block;
         // width: xx; height: xx;  // Set width and height
         
         > .img {
            position: relative; left: 0; top: 0;
            // width: xx; height: xx;
         }
      }
   }   

/* ==========================================================================
   ./ Social Icons 
   ========================================================================== */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-sm-min) { }

